html {
	background: url(../../images/signup-background.png) no-repeat center center fixed;
	background-size: cover;
}

body {
	font-family: 'Roboto', sans-serif;
	text-align: right;
}

.googly-logo {
	padding-top: 10px;
}

#logo {
	margin-top: 0px;
	margin-bottom: 0px;
	margin -right: 50px;
	margin-left: 850px;
	display: block;
}

#signup {
	margin: 40px 170px 30px 0px;
    font-size: 34px;
    color: #606060;
}

p.cred {
    text-align: left;
    margin: 10px 0px 3px 650px;
    font-size: 15px;
    color: #404040;
}

.textbox {
	text-align: left;
	margin: 0px 0px 0px 650px;
}

input[type=text],[type=password]{
	font-size: 15px;
    border-radius: 0px;
    border-color: powderblue;
    border-width: 2px;
    padding: 6px
    /*padding: 5px;*/
}

.error {
	font-size: 16px;
	color: red;
}

input[type=submit] {
    margin-right: 342px;
    margin-top: 20px;
    font-size: 20px;
    border: 2px solid white;
    padding: 8px 25px;
    /*box-shadow: 0px 0px 6px;*/
    /*border-radiuss: 7px;*/
    background-color: powderblue;
    color: teal;
    transition: all .3s;
}

input[type=submit]:hover {
    color: teal;
    background-color: white;
    border: 2px solid lightblue;
}
