<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/login-form.css">
  </head>
  <body>
  <div class='googly-logo-band'>
    <div class='googly-logo'>
      <img id="logo" src="../images/image.png" height="75px" max-width=100% >
    </div>
  </div>
  <div class='login-rect'>
    <form method="post">
      <p class="login-cred">Username</p>
      <div class="text-box"><input type="text" name="username" value="{{username}}"></div>
      <p class="login-cred">Password</p>
      <div class="text-box"><input class="style-5" type="password" name="password" value=""></div>
      <div class="login-cred" id="error">
        {{error}}
      </div>
      <div class="button"><input type="submit" value="Login"></div>
    </form>
  </div>

  <a href="signup-form.html" style="margin-left: 520px">Don't have an account? Sign up!</a>

  </body>

</html>
