  <!DOCTYPE html>

<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="css/signup-form.css">
  </head>

  <body>
    <div class="googly-logo"><img id="logo" src="../images/image.png" max-width="100%" height="75px"></div>
    <p id="signup">Create your Googly Account</p>
    <form method="post">
      <p class="cred">Username</p>
      <div class="textbox">
        <input type="text" name="username" value="{{username}}">
        <span class="error">{{error_username}}</span>
      </div>
      <p class="cred">Password</p>
      <div class="textbox">
        <input type="password" name="password" value="">
        <span class="error">{{error_password}}</span>
      </div>
      <p class="cred">Verify Password</p>
      <div class="textbox">
        <input type="password" name="verify" value="">
        <span class="error">{{error_verify}}</span>
      </div>
      <p class="cred">Email (optional)</p>
      <div class="textbox">
        <input type="text" name="email" value="{{email}}">
        <span class="error">{{error_email}}</span>
      </div>
      <div id="submit-button"><input type="submit" value="Register"></div>
    </form>
    <div style="margin-top: 10px"><a href="login-form.html" style="margin-right: 400px;">Already have an account? Login!</a></div>
  </body> 
</html>
