<!DOCTYPE html>
<html>
<head>
	<title>{{stock_name}}</title>
<style type="text/css">
	#stock_name{
		/*display: none;*/
	}
	p{
		display: inline;
	}
	#imgaa{
		opacity: 1;
		transition: opacity .2s;
	}

	#st_img{
		width: 860px
	}

</style>
</head>
<body>
	<center>
		<b><h1>GOOGLY</h1></b>
	<hr>
	<h2 id="stock_name">{{stock_name}}</h2>
	<span id="st_img"><img src="" id="imgaa"></span>
	<br>
	<button class="chart_getter" value="1">1 Day</button>
	<button class="chart_getter" value="7">1 Week</button>
	<button class="chart_getter" value="30">1 Month</button>
	<button class="chart_getter" value="180">6 Months</button>
	<button class="chart_getter" value="730">2 Years</button>
	</center>
	<br>
	<br>
	
	<h3>
		Stock_exchange: <p id="st_exchange"></p><br>
		Full Name: <p id="f_name"></p><br>
		Current Price: <p id="curr_price"></p><br>
		Day's High: <b><p id="high"></p></b><br>
		Day's Low: <b><p id="low"></p></b><br>
		Change: <b><p id="changa"></p></b>
	</h3>
	<hr>
		{% if stk_arr %}
			You have 
			<p id="pr_qty">{{stk_arr[2]}}</p> stocks
			of {{stk_arr[1]}} bought at Rs.<p id="pr_cst">{{stk_arr[3]}}</p> each.
			<br>
			Your current profit is <p id="profit"></p>
		{% else %}
			You have no stocks of this Company
		{% endif %}


		<h3>BUY {{s_name}}</h3>
		<h4>How many stocks would you like to buy</h4>
		<form method="post">
			<input type="text" name="req" value="buy" style="display:none" >
			<input id="stk_valu1" type="text" name="stk_valu" style="display:none" >
			<input type="text" name="sname"  >
			<input type="number" name="qty">
			<input type="submit" name="">
		</form>
		{% if sell_opt %}
			<form method="post">
				<input id="stk_valu2" type="text" name="stk_valu" style="display:none" disabled>
				<input type="text" name="req" value="sell" style="display:none" disabled value="{{stock_name}}">
				<input type="text" name="sname" style="display:none">
				<input type="number" name="qty">
				<input type="submit" name="">
			</form>
		{% endif %}


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/stock_page.js"></script>
</html>