<!DOCTYPE html>
<html>
<head>
	<title>{{stock_name}}</title>
<style type="text/css">
	#stock_name{
		/*display: none;*/
	}
	p{
		display: inline;
	}
</style>
</head>
<body>
	<center>
		<b><h1>GOOGLY</h1></b>
	</center>
	<h2 id="stock_name">{{stock_name}}</h2>
	<img src="" id="imgaa">
	<button class="chart_getter" value="10">op 1</button>
	<button class="chart_getter" value="20">op 2</button>
	<button class="chart_getter" value="50">op 3</button>
	<button class="chart_getter" value="100">op 4</button>
	<button class="chart_getter" value="200">op 5</button>

	
	<h3>
		Stock_exchange:<p id="st_exchange"></p><br>
		Full Name:<p id="f_name"></p><br>
		Current Price:<p id="curr_price"></p><br>
		Day's High:<b><p id="high"></p></b><br>
		Day's Low:<b><p id="low"></p></b><br>
		Percentage change:<b><p id="percenta"></p></b>
	</h3>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/stock_page.js"></script>
</html>